{
  "extends": [
    "eslint:recommended",
    "plugin:vue/recommended"
  ],
  "plugins": ["jest"],
  "rules": {
    "no-unused-vars": "warn",
    "vue/html-self-closing": ["error", {
      "html": {
        "void": "never",
        "normal": "always",
        "component": "any"
      },
      "svg": "always",
      "math": "always"
    }],
    "vue/html-indent": ["error", "tab"],
    "vue/html-quotes": [ "error", "double", { "avoidEscape": false } ],
    "indent": ["error", "tab"],
    "quotes": [
      "error",
      "double"
    ],
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error"
  },
  "env": {
    "es6": true,
    "browser": true,
    "jest/globals": true
  },
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "jest": {
      "version": 27
    }
  }
}